@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;1,100&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

#vehicleMainPicSection, #vehicleFrontPicSection, #vehicleBackPicSection, #vehicleBackInteriorPicSection, #vehicleFrontInteriorPicSection {
    display: none;
}

.card-body img {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.card {
    transition: background-color .5s ease;
}

.card:hover {
    background-color: #bfdaea;
}

.imgSize {
    min-width: 150px;
    min-height: 100px;
    max-width: 300px;
    max-height: 200px;
    object-fit: contain;

}

.custom-text-color {
    color: #96C2DB;
}

.imgShow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    /*background-color: #E5EDF1;*/
    border: 1px solid #E5EDF1;
}


.imgShow {
    transition: background-color .5s ease;
}