@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;1,100&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}


.card-body img {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.custom-text-color {
    color: #96C2DB;
}

.card {
    transition: background-color .5s ease;
}

.card:hover {
    background-color: #96C2DB;
}

.uploaded-image  {
    width: 250px;
    height: 200px;
    object-fit: contain;
}
#map {
    height: 400px;
}